
/* .contacto form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contacto form .input-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto form .input-group input, .contacto form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: #C9C5D6;
    color: #FFF;
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contacto form .input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-box {
  flex: 1;
}

.contacto form .input-box input,
.input-group-2 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group-2 {
  display: flex;
  flex-direction: column;
}

.input-group-2 textarea {
  resize: vertical;
}

.contacto form .button {
  margin-top: 2rem;
}

.contacto form .button button {
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  background: var(--second-bg-color);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
}



.heading-title {
  text-align: center;
  width: 100%;
} */
/* .contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenido-contacto-1 {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-contacto-2 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}
.form-group button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #218838;
} */


.container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* background: #fff; */
  padding: 20px;
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  max-width: 800px;
  width: 100%;
}
.info {
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
}
.form-container {
  flex: 1;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}
/* .form-group button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #218838;
} */

.title-contact{
  color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}

.text-contact{
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 80%;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .container {
      flex-direction: column;
  }
  .info {
      order: 1;
  }
  .formulario {
      order: 2;
  }
}

