* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #21b1f4;
  --text-color: #fff;
  --main-color: #2c2c80;
}

html {
  font-size: 60%;
}

body,
html {
  height: 100%;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

body {
  background: var(--main-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 3px solid transparent;
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--second-bg-color);
}

.hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon span {
  height: 3px;
  width: 30px;
  background-color: #fff;
  margin: 3px 0;
}


/* Responsive styles */
@media (max-width: 768px) {

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #2C2C80;
    text-align: center;
    padding: 20px;
  }

  .navbar.active {
    display: flex;
  }

  .hamburger-icon {
    display: flex;
  }

  .inicio-container {
    flex-direction: column;
    align-items: center;
  }

  .inicio-container {
    display: flex;
    flex-direction: column-reverse;
  }
}


.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

main {
  min-height: 80vh;
  padding: 5rem 12% 10rem;
  margin-bottom: 50px;
}

.button {
    display: inline-flex;
    padding: 22px 30px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    background: var(--Azul-claro, #21b1f4);
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin-top: 1.5rem;
  }

  .footer {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: #1f1f5f;
    box-sizing: border-box;
    height: 100px;
    position: fixed;
  }
  
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    max-width: calc(100% - 60px);
  }
  
  .footer .copyright {
    margin-top: 5px;
    font-size: 16px;
    color: var(--text-color);
    margin-right: 20px;
  }
  
  .heading {
    color: var(--Azul-claro, #21b1f4);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 30px;
  }

.heading-title {
  text-align: center;
  width: 100%;
}

