/* General styles */

.inicio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contenido-inicio {
  max-width: 50%;
}

.img-inicio img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

.title-white-index{
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

 
  .inicio-container {
    flex-direction: column;
    align-items: center;
  }

  .contenido-inicio {
    max-width: 100%;
    text-align: left;
  }

  .img-inicio {
    order: -1;
    margin-bottom: 20px;
  }

  .button {
    display: inline-block;
    margin: 0 auto;
  }
}