/* SERVICE  */

.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.service {
  display: flex;
  width: 357px;
  height: 375px;
  padding: 18px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 0.5px solid var(--Blanco, #fff);
  background: #3d3d8c;
  margin: 10px;
}

.service-title {
  width: 356px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-description {
  height: 142px;
  flex-shrink: 0;
  align-self: stretch;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    align-items: center;
  }

  .service {
    flex: 1 1 100%;
    margin: 10px 0;
    /* width: 80%; */
  }

  .service-title {
    width: 356px;
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .service-description {
    height: 142px;
    flex-shrink: 0;
    align-self: stretch;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
}

